<header id="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <%= link_to "Home", root_path, class: "navbar-item" %>
    </div>

    <div class="navbar-menu">
      <%= link_to "Blog", blog_posts_path, class: "navbar-item" %>
      <% if user_signed_in? %>
        <%= link_to "Profile", edit_user_registration_path, class: "navbar-item" %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-item button logout-button" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "navbar-item" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "navbar-item" %>
      <% end %>
    </div>
  </nav>
</header>
