<!DOCTYPE html>
<html>
  <head>
    <title>RailsFundamental</title>
    <%= render "layouts/shim" %>
  </head>

  <body class="prose mx-auto">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
